@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 3.125em;
    line-height: 4em;
    color: #222;
}

h2 {
    font-size: 2.875em;
    line-height: 3.375em;
    color: #222;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 4em;
    background-color: #E3E6F3;
    box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#header .navLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header .navMiddle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .navRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    height: 2.1em;
    width: 100%;
    margin-right: 2em;
}

.logo:hover {
    transform: scale(1.3);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 1.7em;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
}

.nav-ele {
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}


#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 0.125em;
    background: #088178;
    position: absolute;
    bottom: -0.025em;
    left: 1.25em;
}

.navRightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobileRight {
    display: none;
}

.navRightContainer li {
    list-style: none;
    padding: 0 1.7em;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
    width: 7em;
    height: 2.5em;
    margin-left: 1em;
    line-height: 2.5em;
    border-radius: 3.125em;
    font-weight: 500;
    background-color: #088178;
    border: 1px solid #cce7d0;
    text-align: center;
}

.navRightContainer li:hover {
    opacity: 0.6;
}

.navRightContainer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

#mobile {
    display: none;
    align-items: center;
    cursor: pointer;
}

#navRightContainer {
    align-self: flex-end;
}

#products {
    padding: 2.5em;
    text-align: center;
    background-color: #eeeff8;
}

#products .productContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.25em;
    margin: 0 13vw;
    flex-wrap: wrap;
}

#products .product {
    width: 24%;
    min-width: 20em;
    ;
    margin: 0.938em 0;
    padding: 0.625em 0.75em;
    border: 1px solid #cce7d0;
    background-color: white;
    border-radius: 1.563em;
    position: relative;
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.02);
    cursor: pointer;
    transition: 0.2s ease;
}

#products .product:hover {
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.1);
}

.productImage {
    margin-top: 0.5em;
    ;
    width: 50%;
    height: 50%;
    /* border-radius: 1.563em; */
    object-fit: contain;
}

.productImage:hover {
    transform: scale(1.05);
}

#products .product .description {
    text-align: start;
    padding: 0.625em 0;
}

#products .product .description .rating {
    font-size: 0.9em;
    display: flex;
    padding: 0.625em 0;
    justify-content: space-between;
}

#products .product .description .icon {
    height: 0.75em;
    margin-right: 0.313em;
}

#products .product .description h5 {
    padding-top: 0.438em;
    font-size: 1em;
    color: #1a1a1a;
}

#products .product .priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}

#products .product .priceContainer h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #088178;
}

#products .product .cart {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 3.125em;
    font-weight: 500;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
}

#products .product .cart:hover {
    background-color: #088178;
    color: white;
    border: 1px solid #cce7d0;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em 4em;
    background-color: #E3E6F3;
    box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.1);
    position: none;
    bottom: 0;
    font-size: 1.2em;
}

/* SERVER ERROR */

.error-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: 100vw;
    color: #333;
    flex-wrap: wrap;
}

.error-text-container {
    width: 20em;
}

.error-text-container .error-heading {
    font-size: 2em;
    font-weight: 600;
}

.error-message {
    font-size: 1.6em;
    margin-top: 1em;
}

.error-img {
    display: none;
    width: 300px
}

.no-decoration {
    text-decoration: none
}

/* LOADER */

.loaderLogo {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #088178;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@media screen and (max-width: 1000px) {
    #products .productContainer {
        margin: 0;
    }

    #header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #header .navLeft {
        justify-content: flex-end;
    }

    #navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 1em;
        right: -11em;
        height: 97vh;
        width: 67vw;
        background-color: #E3E6F3;
        box-shadow: 0 2.5em 3.75em rgba(0, 0, 0, 0.1);
        padding: 5em 0 0 0.625em;
        border-radius: 0.5em;
    }

    .navRightContainer {
        display: none;
    }

    #mobileRight {
        display: flex;
        flex-direction: column;
    }

    #navbar.active {
        display: flex;
        right: 0;
    }

    .menubar {
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid red;
    }

    #navbar li {
        margin-bottom: 1.5625em;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 1.5em;
        padding-left: 1.25em;
    }

    #header {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 1em;
    }

    #products .product {
        width: 60vw;
    }

    #products .productContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    footer {
        font-size: 3vw;
    }

}